name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: echchablihamza
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t echchablihamza/baraka-api:v1.0.0 -t echchablihamza/baraka-api:latest .

      - name: Push to Docker Hub
        run: |
          docker push echchablihamza/baraka-api:v1.0.0
          docker push echchablihamza/baraka-api:latest

      - name: Wait for Docker Hub to process image
        run: sleep 10

      - name: Trigger Jenkins Deployment
        if: success()
        run: |
          response=$(curl -s -o /dev/null -w "%{http_code}" -X POST \
            "http://161.35.220.69:8081/job/baraka/build" \
            --user "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_TOKEN }}")
          
          if [ $response -eq 201 ] || [ $response -eq 200 ]; then
            echo "✅ Jenkins deployment triggered successfully"
          else
            echo "❌ Failed to trigger Jenkins. HTTP status: $response"
            exit 1
          fi
