name: CI

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: echchablihamza
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t echchablihamza/baraka-api:v1.0.0 -t echchablihamza/baraka-api:latest .

      - name: Push to Docker Hub
        run: |
          docker push echchablihamza/baraka-api:v1.0.0
          docker push echchablihamza/baraka-api:latest
